In [1]:
# import packages
import numpy as np

### One Dimensional Arrays

In [2]:
# create an array of zeros
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [3]:
# create an array of ones
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [4]:
# create an array of 2.5
np.full(10,2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [5]:
# create an array of odd numbers in the range of 1 to 10
arr = np.array([1,3,5,7,9])
arr

array([1, 3, 5, 7, 9])

In [6]:
# change the first element of the array to 2
arr[0] = 2
arr

array([2, 3, 5, 7, 9])

In [7]:
# create a range of numbers from 1 to 10 with a step of 2
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [8]:
# create a list of numbers from 0 to 1 with 10 elements
np.linspace(0,1,10)

array([0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
       0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ])

### Multi Dimensional Arrays

In [9]:
# create a 2x4 array of zeros
np.zeros((2, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [12]:
# create a 2x4 array of ones
a = np.array([
    [1, 1, 1, 1],
    [1, 1, 1, 1]
])
a

array([[1, 1, 1, 1],
       [1, 1, 1, 1]])

In [15]:
# change the value of the second element in the first row to 4
a[1,2] = 4
a

array([[1, 1, 1, 1],
       [1, 1, 4, 1]])

In [17]:
# gets access to the second row of the array
a[1]

array([1, 1, 4, 1])

In [20]:
# replace all the values of the first row of the array with 2
a[0] = [2, 2, 2, 2]
a

array([[2, 2, 2, 2],
       [1, 1, 4, 1]])

In [23]:
# gets access to the third column of the array
a[:, 2]

array([2, 4])

In [26]:
# replace all the values of the second column of the array with 4
a[:, 1] = [4, 4]
a

array([[2, 4, 2, 2],
       [1, 4, 4, 1]])

### Randomly Generated Arrays

In [31]:
# generate a random array of 5x2
np.random.rand(5, 2)

array([[0.08174397, 0.88004381],
       [0.38122174, 0.57223706],
       [0.43457314, 0.99643391],
       [0.44389113, 0.82526352],
       [0.12146639, 0.2817693 ]])

In [34]:
# for reproducibility set the seed
np.random.seed(4)
np.random.rand(5, 2)

array([[0.96702984, 0.54723225],
       [0.97268436, 0.71481599],
       [0.69772882, 0.2160895 ],
       [0.97627445, 0.00623026],
       [0.25298236, 0.43479153]])

In [38]:
# generate a random array of 5x2 with integers
np.random.randint(0, 100, (5, 2))

array([[49, 66],
       [58, 87],
       [32, 40],
       [42, 45],
       [33, 32]])

### Element Wise Operations

In [60]:
b = np.arange(0, 10, 2)
b

array([0, 2, 4, 6, 8])

In [52]:
# add 1 to each element of the array
b = b + 1
b

array([ 2,  4,  6,  8, 10])

In [55]:
# create an array of 5 elements starting from 11 to 20 with a step of 2
c = np.arange(11, 20, 2)
c

array([11, 13, 15, 17, 19])

In [57]:
# multiply the two arrays
b*c

array([ 22,  52,  90, 136, 190])

### Comparision Operations

In [64]:
# check if the elements of the array are greater than 15
c > 15

array([False, False, False,  True,  True])

In [75]:
# check which elements of the array b are less than the elements of the array c 
b[4] = 40
b < c

array([ True,  True,  True,  True, False])

In [76]:
# show which elements of the array b are less than the elements of the array c
b[b<c]

array([0, 2, 4, 6])

### Summarizing Operations

In [80]:
c

array([11, 13, 15, 17, 19])

In [81]:
# get the minimum value of the array c
c.min()

np.int64(11)

In [83]:
# sum all the elements of the array c
c.sum()

np.int64(75)

In [86]:
# get the standard deviation of the array c
c.std()

np.float64(2.8284271247461903)

In [87]:
# get the mean of the array c
c.mean()

np.float64(15.0)

In [93]:
# generate a two-dimensional array of 4x3 with random integers
d = np.random.randint(0, 100, (4, 3))
d

array([[71, 73, 82],
       [55, 53, 85],
       [94, 79, 36],
       [91, 59, 51]])

In [92]:
# get the maximum value of the entire two-dimensional array d
d.max()

np.int64(94)

In [96]:
# get maximum value of each column of the two-dimensional array d
d.max(axis=0)

array([94, 79, 85])